<%= form_with model: @article, local: true do |form| %>
 
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@article.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= form.label :title, t(:title) %><br>
    <%= form.text_field :title %>
  </p>
 
  <p>
    <%= form.label :text, t(:text) %><br>
    <%= form.text_area :text %>
  </p>

  <p>
    <%= form.label :author_name, t(:author) %><br>
    <%= form.text_field :author_name %>
  </p>
 
  <p>
    <%= form.radio_button(:state, 'draft') %>
    <%= form.label(:state_draft, t(:save_to_drafts)) %>
    <%= form.radio_button(:state, 'published') %>
    <%= form.label(:state_published, t(:publish)) %>
  </p>

  <p>
    <%= form.submit %>
  </p>
 
<% end %>