<p>
  <strong><%= t(:title) %>:</strong>
  <%= @article.title %>
</p>
 
<p>
  <strong><%= t(:text) %>:</strong>
  <%= @article.text %>
</p>

<p>
  <i><%= t(:author) %>
  <%= @article.author_name %></i>
</p>

<p>
  <i><%= t(:status) %>
  <%= @article.state %></i>
</p>
 
<h2><%= t(:comments) %></h2>
<%= render @article.comments %>
 
<h2><%= t(:add_comment) %></h2>
<%= render 'comments/form' %>
 
<%= link_to t(:edit), edit_article_path(@article) %> |
<%= link_to t(:back), articles_path %>